<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>regionCode</key>
		<string>US</string>
		<key>name</key>
		<string>All</string>
		<key>image</key>
		<string>US</string>
	</dict>
	<array>
		<dict>
			<key>regionCode</key>
			<string>DZ</string>
			<key>name</key>
			<string>Algeria</string>
			<key>image</key>
			<string>DZ</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>AR</string>
			<key>name</key>
			<string>Argentina</string>
			<key>image</key>
			<string>AR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>AU</string>
			<key>name</key>
			<string>Australia</string>
			<key>image</key>
			<string>AU</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>BE</string>
			<key>name</key>
			<string>Belgium</string>
			<key>image</key>
			<string>BE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>BR</string>
			<key>name</key>
			<string>Brazil</string>
			<key>image</key>
			<string>BR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>CA</string>
			<key>name</key>
			<string>Canada</string>
			<key>image</key>
			<string>CA</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>CL</string>
			<key>name</key>
			<string>Chile</string>
			<key>image</key>
			<string>CL</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>CO</string>
			<key>name</key>
			<string>Colombia</string>
			<key>image</key>
			<string>CO</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>CZ</string>
			<key>name</key>
			<string>Czech Republic</string>
			<key>image</key>
			<string>CZ</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>DK</string>
			<key>name</key>
			<string>Denmark</string>
			<key>image</key>
			<string>DK</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>EG</string>
			<key>name</key>
			<string>Egypt</string>
			<key>image</key>
			<string>EG</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>FI</string>
			<key>name</key>
			<string>Finland</string>
			<key>image</key>
			<string>FI</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>FR</string>
			<key>name</key>
			<string>France</string>
			<key>image</key>
			<string>FR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>DE</string>
			<key>name</key>
			<string>Germany</string>
			<key>image</key>
			<string>DE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>GH</string>
			<key>name</key>
			<string>Ghana</string>
			<key>image</key>
			<string>GH</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>GR</string>
			<key>name</key>
			<string>Greece</string>
			<key>image</key>
			<string>GR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>HK</string>
			<key>name</key>
			<string>Hong Kong</string>
			<key>image</key>
			<string>HK</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>HU</string>
			<key>name</key>
			<string>Hungary</string>
			<key>image</key>
			<string>HU</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>IN</string>
			<key>name</key>
			<string>India</string>
			<key>image</key>
			<string>IN</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>ID</string>
			<key>name</key>
			<string>Indonesia</string>
			<key>image</key>
			<string>ID</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>IE</string>
			<key>name</key>
			<string>Ireland</string>
			<key>image</key>
			<string>IE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>IL</string>
			<key>name</key>
			<string>Israel</string>
			<key>image</key>
			<string>IL</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>IT</string>
			<key>name</key>
			<string>Italy</string>
			<key>image</key>
			<string>IT</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>JP</string>
			<key>name</key>
			<string>Japan</string>
			<key>image</key>
			<string>JP</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>JO</string>
			<key>name</key>
			<string>Jordan</string>
			<key>image</key>
			<string>JO</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>KE</string>
			<key>name</key>
			<string>Kenya</string>
			<key>image</key>
			<string>KE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>MY</string>
			<key>name</key>
			<string>Malaysia</string>
			<key>image</key>
			<string>MY</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>MX</string>
			<key>name</key>
			<string>Mexico</string>
			<key>image</key>
			<string>MX</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>MA</string>
			<key>name</key>
			<string>Morocco</string>
			<key>image</key>
			<string>MA</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>NL</string>
			<key>name</key>
			<string>Netherlands</string>
			<key>image</key>
			<string>NL</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>NZ</string>
			<key>name</key>
			<string>New Zealand</string>
			<key>image</key>
			<string>NZ</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>NG</string>
			<key>name</key>
			<string>Nigeria</string>
			<key>image</key>
			<string>NG</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>PE</string>
			<key>name</key>
			<string>Peru</string>
			<key>image</key>
			<string>PE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>PH</string>
			<key>name</key>
			<string>Philippines</string>
			<key>image</key>
			<string>PH</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>PL</string>
			<key>name</key>
			<string>Poland</string>
			<key>image</key>
			<string>PL</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>RU</string>
			<key>name</key>
			<string>Russia</string>
			<key>image</key>
			<string>RU</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>SA</string>
			<key>name</key>
			<string>Saudi Arabia</string>
			<key>image</key>
			<string>SA</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>SN</string>
			<key>name</key>
			<string>Senegal</string>
			<key>image</key>
			<string>SN</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>SG</string>
			<key>name</key>
			<string>Singapore</string>
			<key>image</key>
			<string>SG</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>ZA</string>
			<key>name</key>
			<string>South Africa</string>
			<key>image</key>
			<string>ZA</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>KR</string>
			<key>name</key>
			<string>South Korea</string>
			<key>image</key>
			<string>KR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>ES</string>
			<key>name</key>
			<string>Spain</string>
			<key>image</key>
			<string>ES</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>SE</string>
			<key>name</key>
			<string>Sweden</string>
			<key>image</key>
			<string>SE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>TW</string>
			<key>name</key>
			<string>Taiwan</string>
			<key>image</key>
			<string>TW</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>TR</string>
			<key>name</key>
			<string>Turkey</string>
			<key>image</key>
			<string>TR</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>UG</string>
			<key>name</key>
			<string>Uganda</string>
			<key>image</key>
			<string>UG</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>UA</string>
			<key>name</key>
			<string>Ukraine</string>
			<key>image</key>
			<string>UA</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>AE</string>
			<key>name</key>
			<string>United Arab Emirates</string>
			<key>image</key>
			<string>AE</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>GB</string>
			<key>name</key>
			<string>United Kingdom</string>
			<key>image</key>
			<string>GB</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>US</string>
			<key>name</key>
			<string>United States</string>
			<key>image</key>
			<string>US</string>
		</dict>
		<dict>
			<key>regionCode</key>
			<string>YE</string>
			<key>name</key>
			<string>Yemen</string>
			<key>image</key>
			<string>YE</string>
		</dict>
	</array>
</array>
</plist>
